{#
/**
 * @file
 * Default theme implementation for rendering corporate blocks sidebar.
 *
 * Available variables:
 *    TODO: see Footerblocks
 *
 * @see template_preprocess_corporate_blocks_sidebar()
 *
 * @ingroup themeable
 */
 #}

 <div class="sidebar__corporate-top">
  <h3>{{ corporate_sidebar.sidebar.title}}</h3>


  <article class="node node-event-d4eu node-teaser view-mode-teaser clearfix">

    
    
    <header class="teaser-header">
      <div class="group-info "><span class="picture"><a href="https://ec.europa.eu/futurium/en/european-media-literacy-events"><img typeof="foaf:Image" src="https://ec.europa.eu/futurium/sites/futurium/files/styles/thumbnail/public/emlw_futuriumvisual.png?itok=wCX72reH" alt="European Media Literacy Events " title="European Media Literacy Events "></a></span><span class="name"><a href="https://ec.europa.eu/futurium/en/european-media-literacy-events">EU Media Literacy Events</a></span></div><div class="content-type-name content-type-event">Event</div>    </header>
      
      <section class="teaser-content">
        <div class="pull-left"><div class="date-block">
          <span class="date-block__day-text">Mon</span>
          <span class="date-block__day">01</span>
          <span class="date-block__month">Apr</span>
          <span class="date-block__day-text"></span>
        </div>
      </div><h3><a href="/futurium/en/european-media-literacy-events/seminaire-de-4-jours-destination-des-enseignants-de-la-region">Séminaire de 4 jours à destination des enseignants de la région académique de la Guadeloupe</a></h3>    </section>
      
      
      <!-- </div> -->
    </article>

  </div>
